
.hidden-header {
  display: none;
}

form {
  width: 100%;
  max-width: 600px;

  margin: auto;
  padding: 50px;
  box-shadow: 4px 8px 8px 4px rgba(6, 1, 39, 0.1);
  background: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item {
  margin-bottom: 16px;
}

ion-label {
  margin-bottom: 8px;
}

ion-row {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  ion-col {
    flex: 0 0 48%;
  }

  .btn {
    --background: #3880ff;
    --background-activated: #3171e0;
    --background-focused: #4c8dff;
    --border-radius: 8px;
    color: #fff;
  }
}

@media (min-width: 768px) {
  ion-content {
    --padding-start: 32px;
    --padding-end: 32px;
  }
}

.gestante-item {
  display: flex;
  flex-direction: column;
}

.opcion-gestante {
  font-weight: bold;
  margin-bottom: 10px;
}

.opcion-gestante-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.opcion-gestante-radio {
  margin-right: 5px;
}

.opcion-gestante-label {
  margin-right: 20px;
}
