@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Variables
$font-family: 'Poppins', sans-serif;
$border-radius: 10px;
$primary-color: #0056b3;
$button-color: #004494;
$background-color: #f8f9fa;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

.hidden-header {
  display: none;
}
/* Estilo de los placeholders */
::placeholder {
  text-align: center; 
  color:black/* Alineación centrada del texto del placeholder */
}
/* Estilo global para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

/* Estilo del contenido principal de Ionic */
ion-content {
  background-color: $background-color; /* Fondo claro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px; /* Añadido para asegurar que haya un poco de espacio alrededor del contenido */
}

/* Contenedor principal para centrar el contenido */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

/* Estilo de la caja de registro */
.register-box {
  padding: 40px 20px;
  border-radius: $border-radius;
  width: 100%; /* Para asegurarse de que el contenido esté centrado */
  max-width: 600px; /* Ancho máximo para el contenedor */
  background: #fff; /* Fondo blanco */
  box-shadow: $box-shadow; /* Sombra */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo del encabezado */
h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif; /* Aplica la nueva fuente */
  color: #333; /* Color del texto */
  text-align: center; /* Alineación centrada del título */
}

/* Contenedor de cada cuadro de entrada */
.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para separar la etiqueta del campo de entrada */
  gap: 10px; /* Espacio entre la etiqueta y el campo de entrada */
  margin-bottom: 50px; /* Margen inferior para separar cada campo de entrada */
  width: 100%; /* Para asegurarse de que los inputs ocupen todo el ancho disponible */
}

/* Estilo de los elementos de entrada de Ionic */
ion-item.input-box {
  --highlight-color-focused: $primary-color; /* Color de enfoque */
  --min-height: 50px;
  border-radius: $border-radius;
  padding: 0 20px; /* Espacio interno */
  margin-bottom: 15px; /* Añadido para asegurar más espacio entre los elementos */
}

/* Estilo de las etiquetas */
ion-label {
  color: #333; /* Color del texto */
  font-size: 0.9em;
  margin-right: 80px; /* Añadido para separar más la etiqueta del campo de entrada */
}

/* Estilo de las entradas de texto y selectores */
ion-input,
ion-select {
  --placeholder-color: #aaa; /* Color del marcador de posición */
  color: #333; /* Color del texto */
  padding: 10px 0; /* Espacio interno ajustado */
  font-size: 0.9em;
  background: transparent;
  border: none;
  flex: 1; /* Asegura que los inputs y selectores ocupen el resto del espacio disponible */
}

/* Estilo del botón personalizado */
.btn {
  --background: #007bff; /* Fondo azul */
  --background-activated: #007bff;
  --background-focused: #007bff;
  --border-radius: $border-radius;
  color: #fff; /* Color del texto */
  width: 100%;
  border-radius: 50px;
}

.btn:hover {
  --background: #0056b3; /* Fondo azul oscuro al pasar el ratón */
}


  .btn {
    --background: #007bff;
    --background-activated: #007bff;
    --background-focused: #007bff;
    --border-radius: 25px;
    color: #fff;
    width: 100%;
  }

  .btn:hover {
    --background: #0056b3;
  }

  .opcion-gestante-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

