<ion-header class="hidden-header">
  <ion-toolbar>
    <ion-title>Signos de alarma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="register-box">
      <h2>Signos de alarma</h2>
      <form (ngSubmit)="onSubmit()">
        <ion-item class="input-box" *ngFor="let signo of signosAlarma">
          <ion-label>{{ signo.label }}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="signo.checked" name="{{ signo.name }}"></ion-checkbox>
        </ion-item>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" type="submit" class="btn">Registrar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="medium" class="btn">Cerrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
